html, body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: linear-gradient(120deg, #005d85 0%, #00b595 90%);
  height: 100%;
  position: relative;
}
.box .icon {
  height: 20px;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
.box .icon span {
  background: #fff;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.box .icon span:nth-child(1) {
  top: 0;
}
.box .icon span:nth-child(2) {
  transition: 0.3s;
  top: 50%;
}
.box .icon span:nth-child(3) {
  left: auto;
  top: 100%;
  right: 0;
}
.box .icon.open span:nth-child(1) {
  animation: box07top 0.6s forwards;
}
.box .icon.open span:nth-child(2) {
  transform: rotate(-45deg);
  transition-delay: 0.3s;
}
.box .icon.open span:nth-child(3) {
  animation: box07bottom 0.6s forwards;
}
.box .icon.close span:nth-child(1) {
  animation: box07topreverse 0.6s reverse;
}
.box .icon.close span:nth-child(2) {
  transition: 0.6s;
  transition-delay: 0s;
}
.box .icon.close span:nth-child(3) {
  animation: box07bottomreverse 0.6s reverse;
}

@keyframes box07top {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
    width: 100%;
  }
  50% {
    left: 5px;
    top: 0;
    transform: rotate(0deg);
    width: 50%;
  }
  100% {
    left: 5px;
    top: 0;
    transform: rotate(45deg);
    transform-origin: left;
    width: 50%;
  }
}
@keyframes box07bottom {
  0% {
    right: 0%;
    top: 100%;
    transform: rotate(0deg);
    width: 100%;
  }
  50% {
    right: 5px;
    top: 100%;
    transform: rotate(0deg);
    width: 50%;
  }
  100% {
    right: 5px;
    top: 100%;
    transform: rotate(45deg);
    transform-origin: right;
    width: 50%;
  }
}
@keyframes box07topreverse {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
    width: 100%;
  }
  50% {
    left: 5px;
    top: 0;
    transform: rotate(0deg);
    width: 50%;
  }
  100% {
    left: 5px;
    top: 0;
    transform: rotate(45deg);
    transform-origin: left;
    width: 50%;
  }
}
@keyframes box07bottomreverse {
  0% {
    right: 0%;
    top: 100%;
    transform: rotate(0deg);
    width: 100%;
  }
  50% {
    right: 5px;
    top: 100%;
    transform: rotate(0deg);
    width: 50%;
  }
  100% {
    right: 5px;
    top: 100%;
    transform: rotate(45deg);
    transform-origin: right;
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
