html,body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: linear-gradient( 120deg,  rgba(0,93,133,1) 0%, rgba(0,181,149,1) 90% );
  height: 100%;
  position: relative;
  
  .icon {
    height: 20px;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    
    span {
      background: #fff;
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        transition: 0.3s;
        top: 50%;
      }
      &:nth-child(3) {
        left: auto;
        top: 100%;
        right: 0;
      }
    }
    
    &.open {
      span {
        &:nth-child(1) {
          animation: box07top 0.6s forwards;
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
          transition-delay: 0.3s;
        }
        &:nth-child(3) {
          animation: box07bottom 0.6s forwards;
        }
      }
    }
    
    &.close {
      span {
        &:nth-child(1) {
          animation: box07topreverse 0.6s reverse;
        }
        &:nth-child(2) {
          transition: 0.6s;
          transition-delay: 0s;
        }
        &:nth-child(3) {
          animation: box07bottomreverse 0.6s reverse;
        }
      }
    }

  }
}

@keyframes box07top {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
    width: 100%;
  }
  50% {
    left: 5px;
    top: 0;
    transform: rotate(0deg);
    width: 50%;
  }
  100% { 
    left: 5px;
    top: 0;
    transform: rotate(45deg);
    transform-origin: left;
    width: 50%;
  }
}
@keyframes box07bottom {
  0% {
    right: 0%;
    top: 100%;
    transform: rotate(0deg);
    width: 100%;
  }
  50% {
    right: 5px;
    top: 100%;
    transform: rotate(0deg);
    width: 50%;
  }
  100% { 
    right: 5px;
    top: 100%;
    transform: rotate(45deg);
    transform-origin: right;
    width: 50%;
  }
}
@keyframes box07topreverse {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
    width: 100%;
  }
  50% {
    left: 5px;
    top: 0;
    transform: rotate(0deg);
    width: 50%;
  }
  100% { 
    left: 5px;
    top: 0;
    transform: rotate(45deg);
    transform-origin: left;
    width: 50%;
  }
}
@keyframes box07bottomreverse {
  0% {
    right: 0%;
    top: 100%;
    transform: rotate(0deg);
    width: 100%;
  }
  50% {
    right: 5px;
    top: 100%;
    transform: rotate(0deg);
    width: 50%;
  }
  100% { 
    right: 5px;
    top: 100%;
    transform: rotate(45deg);
    transform-origin: right;
    width: 50%;
  }
}