html,body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: linear-gradient( 105.3deg,  rgba(252,149,88,1) 33%, rgba(228,63,63,1) 90.9% );
  height: 100%;
  position: relative;
  
  .icon {
    height: 20px;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    
    span {
      background: #fff;
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      transition: 0.6s;
      width: 100%;
      
      &:nth-child(1) {
        top: 0;
        transform-origin: left;
      }
      &:nth-child(2) {
        top: 50%;
      }
      &:nth-child(3) {
        top: 100%;
        transform-origin: left;
      }
    }
    
    &.open {
      span {
        &:nth-child(1) {
          top: -1px;
          transform: rotate(405deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-405deg);
        }
      }
    }
  }
}