html, body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: linear-gradient(105.3deg, #fc9558 33%, #e43f3f 90.9%);
  height: 100%;
  position: relative;
}
.box .icon {
  height: 20px;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
.box .icon span {
  background: #fff;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transition: 0.6s;
  width: 100%;
}
.box .icon span:nth-child(1) {
  top: 0;
  transform-origin: left;
}
.box .icon span:nth-child(2) {
  top: 50%;
}
.box .icon span:nth-child(3) {
  top: 100%;
  transform-origin: left;
}
.box .icon.open span:nth-child(1) {
  top: -1px;
  transform: rotate(405deg);
}
.box .icon.open span:nth-child(2) {
  opacity: 0;
}
.box .icon.open span:nth-child(3) {
  transform: rotate(-405deg);
}

/*# sourceMappingURL=style.css.map */
