html,body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: linear-gradient(171.8deg, rgb(5, 111, 146) 13.5%, rgb(6, 57, 84) 78.6%);
  height: 100%;
  position: relative;
  
  .icon {
    height: 20px;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    
    span {
      background: #fff;
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
      }
      &:nth-child(3) {
        left: auto;
        top: 100%;
        right: 0;
      }
    }
    
    &.open {
      span {
        &:nth-child(1) {
          animation: box06top 0.6s forwards;
        }
        &:nth-child(2) {
          animation: box06middle 0.6s forwards;
        }
        &:nth-child(3) {
          animation: box06bottom 0.6s forwards;
        }
      }
    }
    
    &.close {
      span {
        &:nth-child(1) {
          animation: box06topreverse 0.6s forwards;
        }
        &:nth-child(2) {
          animation: box06middlereverse 0.6s forwards;
        }
        &:nth-child(3) {
          animation: box06bottomreverse 0.6s forwards;
        }
      }
    }
  }
}
@keyframes box06top {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  50% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  75% {
    left: 5px;
    top: 0;
    transform: rotate(50deg);
    transform-origin: left;
  }
  85% {
    left: 5px;
    top: 0;
    transform: rotate(40deg);
    transform-origin: left;
  }
  100% { 
    left: 5px;
    top: 0;
    transform: rotate(45deg);
    transform-origin: left;
  }
}
@keyframes box06middle {
  0% {
    top: 50%;
    opacity: 1;
  }
  50% {
    top: 0;
    opacity: 1;
  }
  51% {
    top: 0;
    opacity: 0;
  }
  100% { 
    top: 0;
    opacity: 0;
  }
}
@keyframes box06bottom {
  0% {
    right: 0;
    top: 100%;
    transform: rotate(0deg);
  }
  50% {
    right: 0;
    top: 0;
    transform: rotate(0deg);
  }
  75% {
    right: 4px;
    top: 0;
    transform: rotate(-50deg);
    transform-origin: right;
  }
  85% {
    right: 4px;
    top: 0;
    transform: rotate(-40deg);
    transform-origin: right;
  }
  100% { 
    right: 4px;
    top: 0;
    transform: rotate(-45deg);
    transform-origin: right;
  }
}
@keyframes box06topreverse {
  0% {
    left: 5px;
    top: 0;
    transform: rotate(45deg);
    transform-origin: left;
  }
  30% {
    left: 0;
    top: 100%;
    transform: rotate(0deg);
    transform-origin: left;
  }  
  40% {
    left: 0;
    top: 75%;
    transform: rotate(0deg);
    transform-origin: left;
  }
  50% {
    left: 0;
    top: 100%;
    transform: rotate(0deg);
    transform-origin: left;
  }  
  100% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
    transform-origin: left;
  }
}
@keyframes box06middlereverse {
  0% {
    top: 100%;
    opacity: 0;
  }
  50% {
    top: 100%;
    opacity: 0;
  }
  51% {
    top: 100%;
    opacity: 1;
  }
  100% { 
    top: 50%;
    opacity: 1;
  }
}
@keyframes box06bottomreverse {
  0% {
    right: 4px;
    top: 0;
    transform: rotate(-45deg);
    transform-origin: right;
  }
  30% {
    right: 0;
    top: 100%;
    transform: rotate(0deg);
    transform-origin: right;
  }  
  40% {
    left: 0;
    top: 75%;
    transform: rotate(0deg);
    transform-origin: right;
  }  
  50% {
    right: 0;
    top: 100%;
    transform: rotate(0deg);
    transform-origin: right;
  }
  100% { 
    right: 0;
    top: 100%;
    transform: rotate(0deg);
    transform-origin: right;
  }
}