html, body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: radial-gradient(circle 345px at 0.3% 53.6%, #ff8c46 0%, #ff3f3f 100.7%);
  height: 100%;
  position: relative;
}
.box .icon {
  height: 20px;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
.box .icon span {
  background: #fff;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.box .icon span:nth-child(1) {
  top: 0;
}
.box .icon span:nth-child(2) {
  top: 50%;
}
.box .icon span:nth-child(3) {
  top: 100%;
}
.box .icon.open span:nth-child(1) {
  animation: box04top 1s forwards;
}
.box .icon.open span:nth-child(2) {
  animation: box04middle 1s forwards;
}
.box .icon.open span:nth-child(3) {
  animation: box04bottom 1s forwards;
}
.box .icon.close span:nth-child(1) {
  animation: box04topreverse 1s forwards;
}
.box .icon.close span:nth-child(2) {
  animation: box04middlereverse 1s forwards;
}
.box .icon.close span:nth-child(3) {
  animation: box04bottomreverse 1s forwards;
}

@keyframes box04top {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  50% {
    top: 50%;
    transform: rotate(0deg);
  }
  100% {
    top: 50%;
    transform: rotate(45deg);
  }
}
@keyframes box04middle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes box04bottom {
  0% {
    top: 100%;
    transform: rotate(0deg);
  }
  50% {
    top: 50%;
    transform: rotate(0deg);
  }
  100% {
    top: 50%;
    transform: rotate(-45deg);
  }
}
@keyframes box04topreverse {
  0% {
    top: 50%;
    transform: rotate(45deg);
  }
  50% {
    top: 50%;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}
@keyframes box04middlereverse {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes box04bottomreverse {
  0% {
    top: 50%;
    transform: rotate(-45deg);
  }
  50% {
    top: 50%;
    transform: rotate(0deg);
  }
  100% {
    top: 100%;
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
