html, body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: linear-gradient(109.6deg, #a2023f 11.2%, #e73e44 53.6%, #ff814f 91.1%);
  height: 100%;
  position: relative;
}
.box .icon {
  height: 20px;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
.box .icon span {
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.box .icon span i {
  background: #fff;
  height: 2px;
  position: absolute;
  width: 2px;
}
.box .icon span i:nth-child(1) {
  left: 0px;
}
.box .icon span i:nth-child(2) {
  left: 2px;
}
.box .icon span i:nth-child(3) {
  left: 4px;
}
.box .icon span i:nth-child(4) {
  left: 6px;
}
.box .icon span i:nth-child(5) {
  left: 8px;
}
.box .icon span i:nth-child(6) {
  left: 10px;
}
.box .icon span i:nth-child(7) {
  left: 12px;
}
.box .icon span i:nth-child(8) {
  left: 14px;
}
.box .icon span i:nth-child(9) {
  left: 16px;
}
.box .icon span i:nth-child(10) {
  left: 18px;
}
.box .icon span i:nth-child(11) {
  left: 20px;
}
.box .icon span i:nth-child(12) {
  left: 22px;
}
.box .icon span i:nth-child(13) {
  left: 24px;
}
.box .icon span i:nth-child(14) {
  left: 26px;
}
.box .icon span i:nth-child(15) {
  left: 28px;
}
.box .icon span:nth-child(1) {
  top: 0;
}
.box .icon span:nth-child(1) i {
  top: 0;
  transition: 0.7s;
}
.box .icon span:nth-child(2) {
  top: 50%;
}
.box .icon span:nth-child(2) i:nth-child(1), .box .icon span:nth-child(2) i:nth-child(15) {
  transition: 0.7s;
}
.box .icon span:nth-child(2) i:nth-child(2), .box .icon span:nth-child(2) i:nth-child(14) {
  transition: 0.6s;
}
.box .icon span:nth-child(2) i:nth-child(3), .box .icon span:nth-child(2) i:nth-child(13) {
  transition: 0.5s;
}
.box .icon span:nth-child(2) i:nth-child(4), .box .icon span:nth-child(2) i:nth-child(12) {
  transition: 0.4s;
}
.box .icon span:nth-child(2) i:nth-child(5), .box .icon span:nth-child(2) i:nth-child(11) {
  transition: 0.3s;
}
.box .icon span:nth-child(2) i:nth-child(6), .box .icon span:nth-child(2) i:nth-child(10) {
  transition: 0.2s;
}
.box .icon span:nth-child(2) i:nth-child(7), .box .icon span:nth-child(2) i:nth-child(9) {
  transition: 0.1s;
}
.box .icon span:nth-child(3) {
  top: 100%;
}
.box .icon span:nth-child(3) i {
  bottom: 0;
  transition: 0.7s;
}
.box .icon.open span:nth-child(1) i:nth-child(1) {
  left: 4px;
  top: 0px;
}
.box .icon.open span:nth-child(1) i:nth-child(9) {
  left: 12px;
  top: 12px;
}
.box .icon.open span:nth-child(1) i:nth-child(2) {
  left: 6px;
  top: 2px;
}
.box .icon.open span:nth-child(1) i:nth-child(10) {
  left: 14px;
  top: 10px;
}
.box .icon.open span:nth-child(1) i:nth-child(3) {
  left: 8px;
  top: 4px;
}
.box .icon.open span:nth-child(1) i:nth-child(11) {
  left: 16px;
  top: 8px;
}
.box .icon.open span:nth-child(1) i:nth-child(4) {
  left: 10px;
  top: 6px;
}
.box .icon.open span:nth-child(1) i:nth-child(12) {
  left: 18px;
  top: 6px;
}
.box .icon.open span:nth-child(1) i:nth-child(5) {
  left: 12px;
  top: 8px;
}
.box .icon.open span:nth-child(1) i:nth-child(13) {
  left: 20px;
  top: 4px;
}
.box .icon.open span:nth-child(1) i:nth-child(6) {
  left: 14px;
  top: 10px;
}
.box .icon.open span:nth-child(1) i:nth-child(14) {
  left: 22px;
  top: 2px;
}
.box .icon.open span:nth-child(1) i:nth-child(7) {
  left: 16px;
  top: 12px;
}
.box .icon.open span:nth-child(1) i:nth-child(15) {
  left: 24px;
  top: 0px;
}
.box .icon.open span:nth-child(1) i:nth-child(8) {
  top: 10px;
}
.box .icon.open span:nth-child(2) i {
  left: 14px;
}
.box .icon.open span:nth-child(3) i:nth-child(1) {
  left: 4px;
  bottom: 0px;
}
.box .icon.open span:nth-child(3) i:nth-child(9) {
  left: 12px;
  bottom: 12px;
}
.box .icon.open span:nth-child(3) i:nth-child(2) {
  left: 6px;
  bottom: 2px;
}
.box .icon.open span:nth-child(3) i:nth-child(10) {
  left: 14px;
  bottom: 10px;
}
.box .icon.open span:nth-child(3) i:nth-child(3) {
  left: 8px;
  bottom: 4px;
}
.box .icon.open span:nth-child(3) i:nth-child(11) {
  left: 16px;
  bottom: 8px;
}
.box .icon.open span:nth-child(3) i:nth-child(4) {
  left: 10px;
  bottom: 6px;
}
.box .icon.open span:nth-child(3) i:nth-child(12) {
  left: 18px;
  bottom: 6px;
}
.box .icon.open span:nth-child(3) i:nth-child(5) {
  left: 12px;
  bottom: 8px;
}
.box .icon.open span:nth-child(3) i:nth-child(13) {
  left: 20px;
  bottom: 4px;
}
.box .icon.open span:nth-child(3) i:nth-child(6) {
  left: 14px;
  bottom: 10px;
}
.box .icon.open span:nth-child(3) i:nth-child(14) {
  left: 22px;
  bottom: 2px;
}
.box .icon.open span:nth-child(3) i:nth-child(7) {
  left: 16px;
  bottom: 12px;
}
.box .icon.open span:nth-child(3) i:nth-child(15) {
  left: 24px;
  bottom: 0px;
}
.box .icon.open span:nth-child(3) i:nth-child(8) {
  bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
