html,body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: linear-gradient( 109.6deg,  rgba(162,2,63,1) 11.2%, rgba(231,62,68,1) 53.6%, rgba(255,129,79,1) 91.1% );
  height: 100%;
  position: relative;
  
  .icon {
    height: 20px;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    
    span {
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      
      i {
        background: #fff;
        height: 2px;
        position: absolute;
        width: 2px;
        
        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            left: ($i - 1) * 2px;
          }
        }
      }
      
      &:nth-child(1) {
        top: 0;
        i {
          top: 0;
          transition: 0.7s;
        }
      }
      &:nth-child(2) {
        top: 50%;
        i {
          &:nth-child(1), &:nth-child(15) {
            transition: 0.7s;
          }
          &:nth-child(2), &:nth-child(14) {
            transition: 0.6s;
          }
          &:nth-child(3), &:nth-child(13) {
            transition: 0.5s;
          }
          &:nth-child(4), &:nth-child(12) {
            transition: 0.4s;
          }
          &:nth-child(5), &:nth-child(11) {
            transition: 0.3s;
          }
          &:nth-child(6), &:nth-child(10) {
            transition: 0.2s;
          }
          &:nth-child(7), &:nth-child(9) {
            transition: 0.1s;
          }
        }
      }
      &:nth-child(3) {
        top: 100%;
        i {
          bottom: 0;
          transition: 0.7s;
        }
      }
    }
    
    &.open {
      span {
        &:nth-child(1) {
          i {
            @for $i from 1 through 7 {
              &:nth-child(#{$i}) {
                left: ($i - 1) * 2 + 4px;
                top: ($i - 1) * 2px;
              }
              &:nth-child(#{$i + 8}) {
                left: $i * 2 + 10px;
                top: 14 - ($i * 2) + px;
              }
            }
            &:nth-child(8) {
              top: 10px;
            }
          }
        }
        &:nth-child(2) {
          i {
            left: 14px;
          }
        }
        &:nth-child(3) {
          i {
            @for $i from 1 through 7 {
              &:nth-child(#{$i}) {
                left: ($i - 1) * 2 + 4px;
                bottom: ($i - 1) * 2px;
              }
              &:nth-child(#{$i + 8}) {
                left: $i * 2 + 10px;
                bottom: 14 - ($i * 2) + px;
              }
            }
            &:nth-child(8) {
              bottom: 10px;
            }
          }
        }
      }
    }
  }
}