html, body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #72bb5f 0%, #239570 99.1%);
  height: 100%;
  position: relative;
}
.box .icon {
  height: 20px;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
.box .icon span {
  background: #fff;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.box .icon span:nth-child(1) {
  top: 0;
}
.box .icon span:nth-child(2) {
  top: 50%;
  transition: 0.6s;
}
.box .icon span:nth-child(3) {
  top: 100%;
}
.box .icon.open span:nth-child(1) {
  animation: box05top 0.6s forwards;
}
.box .icon.open span:nth-child(2) {
  opacity: 0;
}
.box .icon.open span:nth-child(3) {
  animation: box05bottom 0.6s forwards;
}
.box .icon.close span:nth-child(1) {
  animation: box05topreverse 0.6s reverse;
}
.box .icon.close span:nth-child(3) {
  animation: box05bottomreverse 0.6s reverse;
}

@keyframes box05top {
  0% {
    left: 0;
    opacity: 1;
    top: 0;
    transform: rotate(0deg);
  }
  45% {
    left: -30px;
    opacity: 0;
    top: 0;
    transform: rotate(0deg);
  }
  50% {
    left: -30px;
    opacity: 0;
    top: -20px;
    transform: rotate(45deg);
    transform-origin: center;
  }
  100% {
    left: 0;
    opacity: 1;
    top: 10px;
    transform: rotate(45deg);
  }
}
@keyframes box05bottom {
  0% {
    left: 0;
    opacity: 1;
    top: 100%;
    transform: rotate(0deg);
  }
  45% {
    left: 30px;
    opacity: 0;
    top: 100%;
    transform: rotate(0deg);
  }
  50% {
    left: 30px;
    opacity: 0;
    top: -20px;
    transform: rotate(-45deg);
    transform-origin: center;
  }
  100% {
    left: 0;
    opacity: 1;
    top: calc(100% - 10px);
    transform: rotate(-45deg);
  }
}
@keyframes box05topreverse {
  0% {
    left: 0;
    opacity: 1;
    top: 0;
    transform: rotate(0deg);
  }
  45% {
    left: -30px;
    opacity: 0;
    top: 0;
    transform: rotate(0deg);
  }
  50% {
    left: -30px;
    opacity: 0;
    top: -20px;
    transform: rotate(45deg);
    transform-origin: center;
  }
  100% {
    left: 0;
    opacity: 1;
    top: 10px;
    transform: rotate(45deg);
  }
}
@keyframes box05bottomreverse {
  0% {
    left: 0;
    opacity: 1;
    top: 100%;
    transform: rotate(0deg);
  }
  45% {
    left: 30px;
    opacity: 0;
    top: 100%;
    transform: rotate(0deg);
  }
  50% {
    left: 30px;
    opacity: 0;
    top: -20px;
    transform: rotate(-45deg);
    transform-origin: center;
  }
  100% {
    left: 0;
    opacity: 1;
    top: calc(100% - 10px);
    transform: rotate(-45deg);
  }
}

/*# sourceMappingURL=style.css.map */
