html, body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: linear-gradient(88.7deg, #cd212a 10.6%, #ec5f05 90%);
  height: 100%;
  position: relative;
}
.box .icon {
  height: 20px;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
.box .icon span {
  background: #fff;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.box .icon span:nth-child(1) {
  top: 0;
}
.box .icon span:nth-child(2) {
  top: 50%;
}
.box .icon span:nth-child(3) {
  top: 100%;
}
.box .icon.open span:nth-child(1) {
  animation: box08top 0.6s forwards;
}
.box .icon.open span:nth-child(2) {
  animation: box08middle 0.6s forwards;
}
.box .icon.open span:nth-child(3) {
  animation: box08bottom 0.6s forwards;
}
.box .icon.close span:nth-child(1) {
  animation: box08topreverse 0.6s reverse;
}
.box .icon.close span:nth-child(2) {
  animation: box08middlereverse 0.6s reverse;
}
.box .icon.close span:nth-child(3) {
  animation: box08bottomreverse 0.6s reverse;
}

@keyframes box08top {
  0% {
    left: 0;
    top: 0;
    width: 100%;
  }
  30% {
    left: 50%;
    top: 0;
    width: 2px;
  }
  45% {
    left: 50%;
    top: 0;
    width: 2px;
  }
  60% {
    left: 50%;
    top: 50%;
    transform: rotate(0deg);
    width: 2px;
  }
  75% {
    left: 50%;
    top: 50%;
    transform: rotate(45deg);
    width: 2px;
  }
  100% {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    width: 100%;
  }
}
@keyframes box08middle {
  0% {
    left: 0;
    top: 50%;
    width: 100%;
  }
  30% {
    left: 50%;
    top: 50%;
    opacity: 1;
    width: 2px;
  }
  100% {
    left: 50%;
    top: 50%;
    opacity: 0;
    width: 2px;
  }
}
@keyframes box08bottom {
  0% {
    left: 0;
    top: 100%;
    width: 100%;
  }
  30% {
    left: 50%;
    top: 100%;
    width: 2px;
  }
  45% {
    left: 50%;
    top: 100%;
    width: 2px;
  }
  60% {
    left: 50%;
    top: 50%;
    transform: rotate(0deg);
    width: 2px;
  }
  75% {
    left: 50%;
    top: 50%;
    transform: rotate(-45deg);
    width: 2px;
  }
  100% {
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
    width: 100%;
  }
}
@keyframes box08topreverse {
  0% {
    left: 0;
    top: 0;
    width: 100%;
  }
  30% {
    left: 50%;
    top: 0;
    width: 2px;
  }
  45% {
    left: 50%;
    top: 0;
    width: 2px;
  }
  60% {
    left: 50%;
    top: 50%;
    transform: rotate(0deg);
    width: 2px;
  }
  75% {
    left: 50%;
    top: 50%;
    transform: rotate(45deg);
    width: 2px;
  }
  100% {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    width: 100%;
  }
}
@keyframes box08middlereverse {
  0% {
    left: 0;
    top: 50%;
    width: 100%;
  }
  30% {
    left: 50%;
    top: 50%;
    opacity: 1;
    width: 2px;
  }
  100% {
    left: 50%;
    top: 50%;
    opacity: 0;
    width: 2px;
  }
}
@keyframes box08bottomreverse {
  0% {
    left: 0;
    top: 100%;
    width: 100%;
  }
  30% {
    left: 50%;
    top: 100%;
    width: 2px;
  }
  45% {
    left: 50%;
    top: 100%;
    width: 2px;
  }
  60% {
    left: 50%;
    top: 50%;
    transform: rotate(0deg);
    width: 2px;
  }
  75% {
    left: 50%;
    top: 50%;
    transform: rotate(-45deg);
    width: 2px;
  }
  100% {
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
