html, body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: linear-gradient(109.6deg, #055554 11.2%, turquoise 91.1%);
  height: 100%;
  position: relative;
}
.box .icon {
  height: 20px;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
.box .icon span {
  background: #fff;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.box .icon span:nth-child(1) {
  transition: 0.5s;
  top: 0;
}
.box .icon span:nth-child(2) {
  transition: 0.7s;
  top: 50%;
}
.box .icon span:nth-child(3) {
  transition: 0.9s;
  top: 100%;
}
.box .icon.open span:nth-child(1) {
  top: 50%;
  transform: rotate(405deg);
  transform-origin: center;
}
.box .icon.open span:nth-child(2) {
  transform: rotate(135deg);
  transform-origin: center;
}
.box .icon.open span:nth-child(3) {
  top: 50%;
  transform: rotate(135deg);
  transform-origin: center;
}

/*# sourceMappingURL=style.css.map */
