html, body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: radial-gradient(circle 795px at 3.7% 13.8%, #00c4cc 0%, #754b4b 100.2%);
  height: 100%;
  position: relative;
}
.box .icon {
  height: 20px;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
.box .icon span {
  background: #fff;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.box .icon span:nth-child(1) {
  transition: 0.5s;
  top: 0;
}
.box .icon span:nth-child(2) {
  opacity: 0.7;
  transition: 0.6s;
  top: 0;
}
.box .icon span:nth-child(3) {
  opacity: 0.3;
  transition: 0.7s;
  top: 0;
}
.box .icon span:nth-child(4) {
  transition: 0.7s;
  top: 50%;
}
.box .icon span:nth-child(5) {
  opacity: 0.7;
  transition: 0.9s;
  top: 50%;
}
.box .icon span:nth-child(6) {
  opacity: 0.3;
  transition: 1.1s;
  top: 50%;
}
.box .icon span:nth-child(7) {
  transition: 0.9s;
  top: 100%;
}
.box .icon span:nth-child(8) {
  opacity: 0.7;
  transition: 1.1s;
  top: 100%;
}
.box .icon span:nth-child(9) {
  opacity: 0.3;
  transition: 1.3s;
  top: 100%;
}
.box .icon.open span:nth-child(1), .box .icon.open span:nth-child(2), .box .icon.open span:nth-child(3) {
  top: 50%;
  transform: rotate(405deg);
  transform-origin: center;
}
.box .icon.open span:nth-child(4), .box .icon.open span:nth-child(5), .box .icon.open span:nth-child(6) {
  transform: rotate(135deg);
  transform-origin: center;
}
.box .icon.open span:nth-child(7), .box .icon.open span:nth-child(8), .box .icon.open span:nth-child(9) {
  top: 50%;
  transform: rotate(135deg);
  transform-origin: center;
}

/*# sourceMappingURL=style.css.map */
