html,body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: radial-gradient( circle 795px at 3.7% 13.8%,  rgba(0,196,204,1) 0%, rgba(117,75,75,1) 100.2% );
  height: 100%;
  position: relative;
  
  .icon {
    height: 20px;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    
    span {
      background: #fff;
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      
      &:nth-child(1) {
        transition: 0.5s;
        top: 0;
      }
      &:nth-child(2) {
        opacity: 0.7;
        transition: 0.6s;
        top: 0;
      }
      &:nth-child(3) {
        opacity: 0.3;
        transition: 0.7s;
        top: 0;
      }
      
      &:nth-child(4) {
        transition: 0.7s;
        top: 50%;
      }
      &:nth-child(5) {
        opacity: 0.7;
        transition: 0.9s;
        top: 50%;
      }
      &:nth-child(6) {
        opacity: 0.3;
        transition: 1.1s;
        top: 50%;
      }
      
      &:nth-child(7) {
        transition: 0.9s;
        top: 100%;
      }
      &:nth-child(8) {
        opacity: 0.7;
        transition: 1.1s;
        top: 100%;
      }
      &:nth-child(9) {
        opacity: 0.3;
        transition: 1.3s;
        top: 100%;
      }
    }
    
    &.open {
      span {
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          top: 50%;
          transform: rotate(405deg);
          transform-origin: center;
        }
        &:nth-child(4), &:nth-child(5), &:nth-child(6) {
          transform: rotate(135deg);
          transform-origin: center;
        }
        &:nth-child(7), &:nth-child(8), &:nth-child(9) {
          top: 50%;
          transform: rotate(135deg);
          transform-origin: center;
        }
      }
    }
  }
}