html,body {
  height: 100%;
  margin: 0;
}

.box {
  background-image: linear-gradient( 75.7deg,  rgba(34,126,34,1) 3.8%, rgba(99,162,17,1) 87.1% );
  height: 100%;
  position: relative;
  
  .icon {
    height: 20px;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    
    span {
      background: #fff;
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
      }
      &:nth-child(3) {
        top: 100%;
      }
    }
    
    &.open {
      span {
        &:nth-child(1) {
          animation: box10top 0.6s forwards;
        }
        &:nth-child(2) {
          animation: box10middle 0.6s forwards;
        }
        &:nth-child(3) {
          animation: box10bottom 0.6s forwards;
        }
      }
    }
    
    &.close {
      span {
        &:nth-child(1) {
          animation: box10topreverse 0.6s forwards;
        }
        &:nth-child(2) {
          animation: box10middlereverse 0.6s forwards;
        }
        &:nth-child(3) {
          animation: box10bottomreverse 0.6s forwards;
        }
      }
    }
  }
}
@keyframes box10top {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  20% {
    top: 0;
    transform: rotate(45deg);
  }
  30% {
    top: 0;
    transform: rotate(45deg);
  }
  50% {
    top: 50%;
    transform: rotate(45deg);
  }
  60% {
    top: 50%;
    transform: rotate(45deg);
  }
  100% {
    top: 50%;
    transform: rotate(135deg);
  }  
}
@keyframes box10middle {
  0% {
    top: 50%;
    transform: rotate(0deg);
  }
  20% {
    top: 50%;
    transform: rotate(45deg);
  }
  100% {
    top: 50%;
    transform: rotate(45deg);
  }  
}
@keyframes box10bottom{
  0% {
    top: 100%;
    transform: rotate(0deg);
  }
  20% {
    top: 100%;
    transform: rotate(45deg);
  }
  30% {
    top: 100%;
    transform: rotate(45deg);
  }
  75% {
    top: 50%;
    transform: rotate(45deg);
  }
  100% {
    top: 50%;
    transform: rotate(45deg);
  }  
}
@keyframes box10topreverse {
  0% {
    top: 50%;
    transform: rotate(135deg);
  }
  50% {
    top: 50%;
    transform: rotate(135deg);
  }
  70% {
    top: 0;
    transform: rotate(135deg);
  }
  80% {
    top: 0;
    transform: rotate(135deg);
  }
  100% {
    top: 0;
    transform: rotate(180deg);
  }  
}
@keyframes box10middlereverse {
  0% {
    top: 50%;
    transform: rotate(45deg);
  }
  40% {
    top: 50%;
    transform: rotate(135deg);
  }
  50% {
    top: 50%;
    transform: rotate(135deg);
  }
  80% {
    top: 50%;
    transform: rotate(135deg);
  }
  100% {
    top: 50%;
    transform: rotate(180deg);
  }  
}
@keyframes box10bottomreverse {
  0% {
    top: 50%;
    transform: rotate(45deg);
  }
  40% {
    top: 50%;
    transform: rotate(135deg);
  }
  50% {
    top: 50%;
    transform: rotate(135deg);
  }
  70% {
    top: 100%;
    transform: rotate(135deg);
  }
  80% {
    top: 100%;
    transform: rotate(135deg);
  }
  100% {
    top: 100%;
    transform: rotate(180deg);
  }  
}